.footer__main {
  padding: 1rem 12rem 2rem;
  background-color: #ffc448;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__initials-container {
  color: #fff;
}

.footer__initials {
  background-color: #6244c5;
  border-radius: 50%;
  text-align: center;
  padding: 1rem 1rem;
}

.footer__parragraph-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__parragraph {
  margin: 0 3rem;
  font-weight: 500;
  color: #212121;
  text-align: center;
  font-size: 1.3rem;
}

@media screen and (max-width: 380px) {
  .footer__main {
    padding: 1rem 9rem 2rem;
    /* display: block; */
    justify-content: center;
  }

  .footer__parragraph-container {
    display: block;
  }

}
@media screen and (min-width: 381px) and (max-width: 500px) {
  .footer__main {
    padding: 1rem 10rem 2rem;
    /* display: block; */
    justify-content: center;
  }
  .footer__parragraph-container {
    display: block;
  }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  .footer__parragraph-container{
    display: block;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {

}
@media screen and (min-width: 1025px) and (max-width: 1280px) {

}